
.comments {
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}


.title {
    color: #18171c;
    font-size: 25px;
    margin-bottom: 15px;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}


input {
    padding: 30px;
    margin: 0 auto; 
    border: 1px solid rgba(200, 200, 200, 0.7); 
    border-radius: 8px; 
    background-color: rgba(240, 240, 240, 0.7); 
    color: #333; 
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, background-color 0.3s; 
}


.input:focus {
    border-color: #b0b0b0;
    background-color: rgba(220, 220, 220, 0.9); 
}


.submit-btn {
    padding: 10px 20px;
    background-color: black; 
    color: white;
    border: 1px solid #154666;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #333; 
}


.loading {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
}


.list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}


.item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.text {
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 5px;
}



.no-comments {
    margin-top: 10px;
    font-style: italic;
    color: #999;
}
