
.updatePassword {
    width: 80%; 
    margin: 0 auto;
    padding: 2rem;
    background-color: #F4F4F4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #333; 
    margin-bottom: 2rem;
    margin-top: 70px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    width: 100%; 
    max-width: 600px; 
}

fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd; 
    border-radius: 5px;
    outline: none;
    background-color: #fff; 
    transition: border 0.3s ease-in-out;
    width: 100%; 
}

input:focus {
    border-color: #000;
}

.passwordContainer, .confirmPasswordContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button.ShowPasswordButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 1.2rem;
}

button.ShowPasswordButton:hover {
    color: #555;
}


button.btn {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button.btn:hover {
    background-color: #333; 
}


.error {
    color: #e74c3c;
    font-size: 0.9rem;
    text-align: center;
}


.modalUpdate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalText {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modalbuttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.modalbuttons button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalbuttons button:hover {
    background-color: #333;
}


.btnUpdate {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem; 
}

.btnUpdate:hover {
    background-color: #ddd;
    color: #000;
}
